<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novel</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1><span class="auto-type-title"></span></h1>
        <p class="auto-type-synopsis"></p>
        <button id="start-button" class="auto-type-btn">Start the Story</button>
    </div>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>
        var titleText = "Chrono Nexus";
        var synopsisText = "In the year 2045, an enigmatic device known as the 'Chrono Nexus' has been discovered. This device has the power to manipulate time itself, creating ripples that can change the course of history. As a brilliant scientist working for the Temporal Research Institute, you have been tasked with harnessing the Chrono Nexus's potential. However, you soon realize that powerful organizations and individuals will stop at nothing to control this technology. Your choices will determine the fate of the world.";

        var titleElement = document.querySelector(".auto-type-title");
        var synopsisElement = document.querySelector(".auto-type-synopsis");
        var startButton = document.getElementById("start-button");

        var typedTitle = new Typed(titleElement, {
            strings: [titleText],
            typeSpeed: 50,
            loop: false,
            onComplete: function () {
                typedTitle.cursor.remove(); // Remove the typing cursor
                typedSynopsis.start(); // Start typing the synopsis
            }
        });

        var typedSynopsis = new Typed(synopsisElement, {
            strings: [synopsisText],
            typeSpeed: 20,
            startDelay: 500, // Delay after title typing
            loop: false,
            onComplete: function () {
                startButton.style.display = "block"; // Show the start button
            }
        });

        startButton.addEventListener("click", function () {
            startStory()
        });
    </script>

<script src="script.js"></script>

</body>
</html>
