<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novel</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>My Short Story</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ligula vel nulla efficitur lacinia. Quisque blandit lorem ac iaculis volutpat. Duis fermentum eleifend luctus. Proin sed orci risus. Donec commodo ultricies convallis. Etiam accumsan tortor eu orci gravida auctor. Nunc vitae lacus vel ligula elementum gravida in ut lorem. Nulla auctor nisi ut leo pellentesque dapibus. Nam ultrices augue ac lacinia tristique. Aliquam pellentesque dui vitae interdum pulvinar.</p>
        <p>Phasellus tempor mi vel nulla egestas ultrices. Duis eu ultrices lectus. In vestibulum tristique lacinia. Ut id efficitur arcu, sed rutrum tortor. In eu faucibus leo, id fermentum mi. Morbi tincidunt, justo a lobortis pulvinar, neque mauris fermentum dolor, et tincidunt massa mi id diam. Nulla gravida tincidunt lobortis. Mauris semper neque non facilisis fermentum. Donec accumsan dictum congue. Fusce nec odio nec felis interdum venenatis in sed elit.</p>
    </div>
</body>
</html>
