* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
  }
  
  .container {
    width: 100%;
    min-height: 100vh;
    background: #2b323c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .container h1 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }
  
  span {
    color: #fff724;
  }
  
  .auto-type-btn {
    display: none;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #fff724;
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .auto-type-btn.flashing-animation {
    animation: blink 1.5s infinite;
  }
  
  .auto-type-btn:hover {
    background-color: transparent;
    color: white;
    animation: none;
  }
  
  @keyframes blink {
    0% {
      background-color: #fff724;
      color: white;
    }
    50% {
      background-color: transparent;
      color: #fff724;
    }
    100% {
      background-color: #fff724;
      color: white;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .container {
      padding: 50px;
    }
  
    .container h1 {
      font-size: 60px;
    }
  
    .auto-type-btn {
      font-size: 30px;
    }
  }
  